<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>controller.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerTakeAttendanceController</servlet-name>
        <servlet-class>controller.LecturerTakeAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.ManagementHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDataController</servlet-name>
        <servlet-class>controller.UpdateDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertController</servlet-name>
        <servlet-class>CRUDController.insertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>CRUDController.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateController</servlet-name>
        <servlet-class>CRUDController.updateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>CRUDController.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleController</servlet-name>
        <servlet-class>controller.RoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerHomeController</servlet-name>
        <servlet-class>controller.LecturerHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHomeController</servlet-name>
        <servlet-class>controller.StudentHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentTimeTableController</servlet-name>
        <servlet-class>controller.StudentTimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileController</servlet-name>
        <servlet-class>controller.StudentProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceController</servlet-name>
        <servlet-class>controller.ViewAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamController</servlet-name>
        <servlet-class>controller.ExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamScheduleController</servlet-name>
        <servlet-class>controller.ExamScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGradeController</servlet-name>
        <servlet-class>controller.ViewGradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestScoreController</servlet-name>
        <servlet-class>controller.TestScoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGradeController</servlet-name>
        <servlet-class>controller.UpdateGradeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/LecturerTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerTakeAttendanceController</servlet-name>
        <url-pattern>/att</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/ManagementHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDataController</servlet-name>
        <url-pattern>/updateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertController</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleController</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerHomeController</servlet-name>
        <url-pattern>/LecturerHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHomeController</servlet-name>
        <url-pattern>/StudentHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentTimeTableController</servlet-name>
        <url-pattern>/studenttimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileController</servlet-name>
        <url-pattern>/studentprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceController</servlet-name>
        <url-pattern>/viewattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamController</servlet-name>
        <url-pattern>/exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamScheduleController</servlet-name>
        <url-pattern>/examschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGradeController</servlet-name>
        <url-pattern>/viewgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestScoreController</servlet-name>
        <url-pattern>/testscore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGradeController</servlet-name>
        <url-pattern>/updateGrade</url-pattern>
    </servlet-mapping>
</web-app>
